/*css for admin page*/

/*set prperties to all the elements*/
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #D6E4E5;
}

/*Logo styles*/
.logo h5 {
color: #497174;
font-size: 36px;
margin-top: 50px;
text-align: right; 
padding-right: 180px; /*Add a right padding to separate the logo from other elements*/
}

section{
    padding: 20px;
    background-color: #EEEEEE;
    border-radius: 10px;
    margin: 20px;
    margin-left: 10%;
    margin-right: 10%;
    color: #497174;
    
}


form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* margin-left: 20%; */
}

div{
    display: flex;
    gap: 4px;
    float:left;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

input, select {
    border: none;
    padding:4px;
    float: right;
    background-color: #D6E4E5;
    
    
}

input:hover{
    background-color: #EFF5F5;
}

h2{
    text-align: center;
}

.sub{
    background-color: #497174;
    color:  white;
    padding: 10px;
    border-radius: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    margin: 8px 0;
    margin-left: 20px;
    margin-right: 20px;

}

.sub:hover{
    background-color: #81CACF;
    color: #497174;
}
